*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.container{
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.card{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: aliceblue;
    border-radius: 10px;
   overflow: hidden;
   text-align: center;
}

.card img{
    margin-left: 40px;
    padding: 5px;
   width: 200px;
   height: 200px;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}
#btn-container, h5{
    padding-top: 10px;
    font-size: 1rem;
    color: red;
    font-weight: 700;
}
#btn-container , button{
    display: inline;
    font-size: 1rem;
    color: rgb(199, 199, 199); 
     border-radius: 10px;
    margin: 3px;
    padding: 4px;
     background: rgb(57, 168, 168); 
    cursor: pointer;
    border: none;
  
   
}